<h1 class="mainTitle"><%= document_heading %></h1>      

<dl class="details">
	<dt>Id :</dt><dd><%= @document[:id].to_s %></dd>    

	<dt>PURL :</dt><dd></dd>    

	<dt>Found at this site :</dt>
	<dd><%= link_to @document[:sourceUrl_field].to_s,  @document[:sourceUrl_field].to_s, {:target => '_blank'} %></dd>

	<dt>Language :</dt>
	<dd><%= get_language_name(@document[:language_field].to_s) %></dd>

	<dt>Created by :</dt>
	<dd><%= render :partial => 'catalog/_show_partials/creator_name', :locals => {:document => @document} %></dd>

	<dt>Direct link to PDF :</dt>
	<dd><%= link_to print_parts_field('url'),  print_parts_field('url'), {:id => 'link_url', :target => '_blank'} %></dd>

	<dt>Local copy of PDF :</dt>
	<dd><%= link_to get_local_filename(),  get_local_file_path(), {:id => 'link_local_file'} %></dd>

	<dt>Citation/comments :</dt>
	<dd><%= @document[:note_field].to_s %></dd>

	<dt>Copyright :</dt>
	<dd><%= @document[:copyrightStatus_field].to_s %> <%= @document[:copyrightDate_field].to_s %></dd>

	<dt>Purchase :</dt>
	<dd><%= @document[:paymentType_field].to_s %> <%= @document[:paymentFund_field].to_s %></dd>            
</dl>
