<!-- This will render the form needed to create an Eem -->

<% form_tag({:action => :create}, :id => 'eems-new-form-widget', :name => 'form_widget') do %>
  <%= hidden_field_tag 'eem[selectorSunetid]', "#{@user.sunetid}"%>
  <%= hidden_field_tag 'eem[selectorName]', "#{@user.display_name_lf}"%>   
  
  <dl>
    <dt id="dt_sourceUrl"><%= label_tag 'eem[sourceUrl]', 'Found on this site:' %></dt>
    <dd style="overflow: hidden;"><%= render :partial => 'eems/source_url' %></dd>

    <dt style="width: 325px">Language:</dt>
    <dd><%= render :partial => 'eems/select_options', :locals => {:field => 'language', :selected => 'eng'} %></dd>
    
    <dt><%= label_tag 'eem[title]', 'Title of work:' %></dt>
    <dd><%= eems_text_field_tag :title, '', {:size => 41} %></dd>

    <dt><%= label_tag 'eem[creatorName]', 'Created by:' %></dt>
    <dd>
      <%= eems_text_field_tag :creatorName, '', {:size => 24} %> &nbsp; 
      <%= render :partial => 'eems/select_options', :locals => {:field => 'creatorType', :selected => ''} %>
    </dd>

    <dt><%= label_tag 'contentUrl', 'Direct link to PDF:' %></dt>
    <dd>
      <%= text_field_tag :contentUrl, '', {:size => 41, :name => 'contentUrl'} %> <br/>
      <span style="color:#555;">&uarr; Drag and drop the link of the PDF you want to capture</span>
	</dd>

    <dt style="width: 0px"></dt>
    <dd><%= text_area_tag 'eem[note]', '(Citation, comments, etc.)', :id => 'eem_note', :rows => 5, :cols => 56 %></dd>

    <dt><%= label_tag 'eem_copyrightStatus', 'Copyright:' %></dt>
    <dd>
      <%= render :partial => 'eems/select_options', :locals => {:field => 'copyrightStatusWidget', :id => 'copyrightStatus', :selected => 'Requires request'} %>
    </dd>

    <dt><%= label_tag 'eem_paymentType', 'Purchase:' %></dt>
    <dd>
      <%= render :partial => 'eems/select_options', :locals => {:field => 'paymentType', :selected => ''} %>      
      <%= eems_text_field_tag :paymentFund, '(Fund name)', {:size => 25, :id => 'eem_payment_fund', :class => 'marginLeft_14px', :style => 'display: none;'} %>         
    </dd>
  </dl>

  <div id="submit-buttons">
	<input type="button" disabled="disabled" id="send_to_tech_services" value="Send to Technical Services">
	<input type="button" disabled="disabled" id="save_to_dashboard" value="Save to dashboard">
  </div>
<% end %>

<div id="eems-upload-progress" style="display: none;">
  <div id="upload-progress-text">Your selection is being uploaded, please wait... </div>
  <div id="upload-complete-text" style="display:none;">Upload complete!</div>
  <div style="float: left; width: 40px;" id="percent_done"></div>      
  <div style="float: left;width: 300px; height: 10px; background-color: #aaa; margin-top: 4px;">
    <img id="progress_bar" src="../images/progress_bar.png" style="width: 0px, height: 10px;" />    
  </div>      
</div>

<div id="eems-links" style="display: none;">
	<%= link_to "Detail view", "", :id => "details-link", :target => "_blank" %> | 
	<%= link_to "View dashboard", "/catalog", :target => "_blank"  %> | 
	<%= link_to "Select another EEM", "/eems/new?referrer=" + get_source_url(params[:referrer]), :id => "select-another-eem"  %>
</div>

