<!-- This will render the form needed to create an Eem -->

<% form_tag({:action => :create}, :id => 'eems-new-form-widget', :name => 'form_widget') do %>
  <%= hidden_field_tag 'eem[selectorSunetid]', "#{@user.sunetid}"%>
  <%= hidden_field_tag 'eem[selectorName]', "#{@user.display_name_lf}"%>   
  
  <dl>
    <dt><%= label_tag 'eem_sourceUrl', 'Found on this site:' %></dt>
    <dd><%= eems_text_field_tag :sourceUrl, get_source_url(params[:referrer]), {:size => 41, :name => 'eem[sourceUrl]'} %></dd>

    <dt style="width: 325px"><%= label_tag 'eem_language', 'Language:' %></dt>
    <dd><%= render :partial => 'eems/select_options', :locals => {:field => 'language', :selected => 'eng'} %></dd>
    
    <dt><%= label_tag 'eem_title', 'Title of work:' %></dt>
    <dd><%= eems_text_field_tag :title, '', {:size => 41} %></dd>

    <dt><%= label_tag 'eem_creatorName', 'Created by:' %></dt>
    <dd>
      <%= eems_text_field_tag :creatorName, '', {:size => 24} %> &nbsp; 
      <%= render :partial => 'eems/select_options', :locals => {:field => 'creatorType', :selected => ''} %>
    </dd>

    <dt><%= label_tag 'eem_contentUrl', 'Direct link to PDF:' %></dt>
    <dd><%= text_field_tag :contentUrl, '', {:size => 41, :name => 'contentUrl'} %></dd>

    <dt style="width: 0px"></dt>
    <dd><%= text_area_tag 'eem[note]', 'Citation, comments, etc.', :id => 'eem_note', :rows => 5, :cols => 56 %></dd>

    <dt><%= label_tag 'eem_copyrightStatus', 'Copyright:' %></dt>
    <dd>
      <%= render :partial => 'eems/select_options', :locals => {:field => 'copyrightStatusWidget', :id => 'copyrightStatus', :selected => ''} %>
    </dd>

    <dt><%= label_tag 'eem_paymentStatus', 'Purchase:' %></dt>
    <dd>
      <%= render :partial => 'eems/select_options', :locals => {:field => 'paymentStatus', :selected => ''} %>      
      <%= eems_text_field_tag :paymentFund, '', {:size => 25, :id => 'eems_payment_fund', :class => 'marginLeft_14px', :style => 'display: none;'} %>         
    </dd>

    <dt></dt>
    <dd>
      <%= check_box_tag 'noop', 'true' %>
      <%= label_tag 'noop', 'Notify original requestor' %>
      &nbsp;
      <%= eems_text_field_tag :notify, '', {:size => 16, :style => 'display: none;'} %>
    </dd>

      <dt></dt>
      <dd>
        <%= check_box_tag 'eem[printedVersionSubmitted]', '' %>
        <%= label_tag 'eem[printedVersionSubmitted]', 'Printed version will also be submitted' %>
      </dd>
    </dl>

  </dl>

  <div id="submit-buttons">
    <input type="submit" value="Save to dashboard"/>
  </div>

<% end %>

<div id="eems-upload-progress" style="display: none;">
  <div id="upload-progress-text">Your selection is being uploaded, please wait... </div>
  <div id="upload-complete-text" style="display:none;">Upload complete!</div>
  <div style="float: left; width: 40px;" id="percent_done"></div>      
  <div style="float: left;width: 300px; height: 10px; background-color: #aaa; margin-top: 4px;">
    <img id="progress_bar" src="../images/progress_bar.png" style="width: 0px, height: 10px;" />    
  </div>      
</div>

<div id="eems-links" style="display: none;">
    <a href="" id="details-link" target="_blank">Detail view</a> | 
    <a href="/catalog" target="_blank">View Dashboard</a>
</div>

