<div id="eems-popup-header">
	<span>EEMs Selection Widget</span>
	<span class="eems-header-links">
		<%= mail_to 'eems-feedback@lists.stanford.edu', 'Feedback', :id => 'eems-popup-feedback-link' %>
	</span>
</div>	
<div id="eems-widget-tabs">
	<a href="#" id="eems-browser-widget-toggle">Download from this site</a> 
	<a href="#" id="eems-desktop-widget-toggle">Upload from desktop</a>
	<div style="clear: both; height: 1px; border-top: 1px solid #aaa; margin-top: 2px;">
</div>
 <%= render :partial => 'eems/_widgets/browser_widget' %>
 <%= render :partial => 'eems/_widgets/dashboard_widget' %>

 <div id="upload_target" name="upload_target" style="display:none;"></div>

<div id="eems-success" style="display: none;">Your request has been submitted.</div>
<div id="eems-loader" style="display: none;">Please wait...</div>
<div id="eems-error" style="display: none;"></div>

<div id="eems-upload-progress" style="display: none;">
  <div id="upload-progress-text">Your selection is being uploaded... </div>
  <div id="upload-complete-text" style="display:none;">Upload complete!</div>
  <div style="float: left;width: 300px; height: 10px; background-color: #aaa; margin-top: 4px;">
    <img id="progress_bar" src="../images/progress_bar.png" style="width: 0px, height: 10px;" />    
  </div>      
  <div style="float: left; width: 40px; text-align: left; text-indent: 3px;" id="percent_done"></div>      
</div>

<div id="eems-links" style="display: none;">
	<%= link_to "View details", "", :id => "details-link", :target => "_blank" %> <br/> <br/>
	<%= link_to "View dashboard", "/view", :target => "_blank"  %> &nbsp; | &nbsp; 
	<%= link_to "Select another EEM", "/eems/new?referrer=" + get_source_url(params[:referrer]), :id => "select-another-eem"  %>
</div>
