<!-- This will render the form needed to create an Eem 
     Manually create the params sent to controller on submit?-->

<% form_tag({:action => :create}, :id => 'eems-new-form-widget', :name => 'form_widget') do %>    
  <dl>
    <dt>Found on this site:</dt>
    <dd><%= eems_text_field_tag :sourceUrl, 'http://www.dfg.ca.gov/wildlife/wap/report.html', {:size => 41, :name => 'eem[sourceUrl]'} %></dd>

    <dt style="width: 325px">Language:</dt>
    <dd><%= render :partial => 'eems/select_options', :locals => {:field => 'language', :selected => ''} %></dd>
    
    <dt>Title of work:</dt>
    <dd><%= eems_text_field_tag :sourceTitle, 'California Wildlife Action Plan Report', {:size => 41} %></dd>

    <dt>Created by:</dt>
    <dd>
      <%= eems_text_field_tag :creatorName, 'Department of Fish and Game', {:size => 24} %> &nbsp; 
      <%= render :partial => 'eems/select_options', :locals => {:field => 'creatorType', :selected => ''} %>
    </dd>

    <dt>Direct link to PDF:</dt>
    <dd><%= text_field_tag :contentUrl, 'http://www.dfg.ca.gov/wildlife/WAP/docs/report/full-report.pdf', {:size => 41, :name => 'contentUrl'} %></dd>

    <dt style="width: 0px"></dt>
    <dd><%= text_area_tag 'eem[note]', 'Report is available as a large single file (18 MB) as one PDF file or as individual sections', :rows => 5, :cols => 56 %></dd>

    <dt>Copyright:</dt>
    <dd>
      <%= render :partial => 'eems/select_options', :locals => {:field => 'copyrightStatus', :selected => ''} %>
      <%= eems_text_field_tag :copyrightDate, '', {:size => 10, :id => 'eems_copyright_date', :class => 'marginLeft_14px', :style => 'display: none;'} %>         
    </dd>

    <dt>Purchase:</dt>
    <dd>
      <%= render :partial => 'eems/select_options', :locals => {:field => 'paymentStatus', :selected => ''} %>      
      <%= eems_text_field_tag :paymentFund, '', {:size => 25, :id => 'eems_payment_fund', :class => 'marginLeft_14px', :style => 'display: none;'} %>         
    </dd>

    <dt></dt>
    <dd>
      <%= check_box_tag 'eem[notify]', 'true' %>
      <%= label_tag 'eem[notify]', 'Notify original requestor' %>
      &nbsp;
      <%= eems_text_field_tag :selectorSunetid, '', {:size => 16, :style => 'display: none;'} %>
    </dd>

      <dt></dt>
      <dd>
        <%= check_box_tag 'eem[printedVersionSubmitted]', '' %>
        <%= label_tag 'eem[printedVersionSubmitted]', 'Printed version will also be submitted' %>
      </dd>
    </dl>

  </dl>

  <div id="submit-buttons">
    <input type="submit" value="Save to dashboard"/>
  </div>

<% end %>

<div id="eems-upload-progress" style="display: none;">
  <div id="upload-progress-text">Your selection is being uploaded, please wait... </div>
  <div id="upload-complete-text" style="display:none;">Upload complete!</div>
  <div style="float: left; width: 40px;" id="percent_done"></div>      
  <div style="float: left;width: 200px; height: 10px; background-color: #aaa; margin-top: 4px;">
    <img id="progress_bar" src="../images/progress_bar.png" style="width: 0px, height: 10px;" />    
  </div>      
</div>

<div id="eems-details-link" style="display: none; clear: left;">
    <a href="" id="details-link" target="_blank">Detail view</a>
</div>

